beautifulsoup4==4.10.0
blis==0.7.4
bs4==0.0.1
catalogue==2.0.6
certifi==2021.5.30
charset-normalizer==2.0.6
click==7.1.2
cymem==2.0.5
filelock==3.0.12
Flask==2.0.1
futures==3.1.1
gensim==4.1.2
goslate==1.5.1
huggingface-hub==0.0.17
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
murmurhash==1.0.5
numpy==1.21.2
packaging==21.0
pathy==0.6.0
preshed==3.0.5
pydantic==1.8.2
PyDictionary==2.0.1
pyparsing==2.4.7
PyYAML==5.4.1
regex==2021.8.28
requests==2.26.0
sacremoses==0.0.45
scipy==1.7.1
sent2vec==0.2.0
six==1.16.0
smart-open==5.2.1
soupsieve==2.2.1
spacy==3.1.2
spacy-legacy==3.0.8
srsly==2.4.1
thinc==8.0.10
tokenizers==0.10.3
torch==1.9.0
tqdm==4.62.2
transformers==4.10.2
typer==0.3.2
typing-extensions==3.10.0.2
urllib3==1.26.6
wasabi==0.8.2
Werkzeug==2.0.1
